*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* ------header------ */
.header{
    display: block;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100%;
}

nav{
    border: 0px solid gray;
    display: flex;
    padding: 20px 20px;
}

.navlinks{
    flex: 1;
    text-align: right;
    width: 100%;
}

.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

.navlinks ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.profile-box{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid white; */
    width: 100%;
    align-items: center;
    color: white;
}

.profile-box h1{
    font-size: 46px;
    margin-bottom: 10px;
}

.profile-box p{
    font-size: 20px;
}

.profile-box img{
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px gray;
    margin-top: 50px;
    margin-bottom: 75px;
}

.button{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    transition: 0.5s;
}

.button:hover{
    background: #243B55;
    border: 1px solid #243B55;
}

@media( max-width: 700px) {
    .profile-box img{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .navlinks ul li a{
        font-size: 12px;
    }
}


/*------projects-------*/

.projects{
    background: #141E30;
}

.project{
    width: 80%;
    margin: auto;
}

.container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 50px;
}

.title{
    width: 100%;
    color: white;
    font-size: 32px;
    padding: 10px 0;
    text-align: center;
}

.container img{
    border-radius: 20px;
    max-width: 100%;
    display: block;
}
.overlay{
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    color: transparent;
    opacity: 0;

}

.overlay:hover{
    background: rgba(0, 0, 0, 0.719);
    color: white;
    opacity: 1;
}

.titlecolumn .fa{
    font-size: 50px;
}

.fa-android{
    color:  green;
}

.fa-apple{
    color:  gray;
}
.overlay h3{
    margin-bottom: 20px;
    font-size: 40px;
}

.titlesrow{

    display: flex;
    justify-content: center;
    width: 100%;
}

.titlecolumn{
    padding: 0px 20px;
}


@media( max-width: 700px) {

    .title{
        font-size: 20px;
    }

    .overlay h3{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .titlecolumn .fa{
        font-size: 20px;
    }

    .container{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-bottom: 50px;
    }
}

.project{
    padding: 40px 0;
}
/* .projects{
    display: flex;
    justify-content: center;
    background: gray;
}


.container{
    flex-basis: 50%;

    text-align: center;
    border: 1px solid black;
}

.title{
    padding: 20px;
    font-size: 36px;
    color: white;
}

.project{
    border: 1px solid black;
    position: relative;
    border-radius: 50px 50px;
}

.project img{
    height: 100%;
    display: block;
    border-radius: 50px 50px;
    max-width: 100%;
}

.overlay{
    display: flex;
    position: absolute;
    top: 0;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border: 1px solid blue;
    background: transparent;
    transition: 0.5s;
    border-radius: 50px 50px;
    justify-content: center;
    align-items: center;
    color: transparent;
    transition: 0.5s;

}

.overlay:hover{
    background: rgba(0, 0, 0, 0.575);
    color: white;
}

.titlesrow{
    display: inline-flex;
    border: 1px solid black;
}

.titlecolumn{

    padding: 0px 10px;
    font-size: 20px;
} */
